@model MissionSite.Models.ResponseHierarchy
@{
    ViewBag.Title = Model.mission.missionName;
}

<!--Snapshot information of mission-->
<div class="FAQBackground" style="background-image:url('@Model.mission.flagReference');">
    <div>
        <div class="row">
            <br />
            <br />
        </div>
        <div class="row">
            <div class="col-md-6" style="padding-right: 0; margin-right: 0">
                <hr style="border-top: 2px solid black;" />
            </div>
            <div class="col-md-6 FAQInformation">
                <h4 style="color: white">
                    <!--The information for each category is pulled dynamically from the model-->
                    <strong>@Model.mission.missionName Mission - Snapshot</strong>
                    <dl>
                        <dt class="col-sm-3"><strong>President: </strong></dt>
                        <dd class="col-sm-9"><i>@Model.mission.missionPresident</i></dd>

                        <dt class="col-sm-3"><strong>Address: </strong></dt>
                        <dd class="col-sm-9"><i>@Model.mission.missionAddress</i></dd>

                        <dt class="col-sm-3"><strong>Language: </strong></dt>
                        <dd class="col-sm-9"><i>@Model.mission.language</i></dd>

                        <dt class="col-sm-3"><strong>Climate: </strong></dt>
                        <dd class="col-sm-9"><i>@Model.mission.climate</i></dd>

                        <dt class="col-sm-3"><strong>Religion: </strong></dt>
                        <dd class="col-sm-9"><i>@Model.mission.religion</i></dd>
                        
                        <dt class="col-sm-3"><br /></dt>
                        <dd class="col-sm-9"><br /></dd>
                    </dl>
                </h4>
            </div>
        </div>
        <div class="row">
            <br />
            <br />
            <br />
        </div>
    </div>
</div>

<div class="container">
    <h1 style="text-align:center; font-family:Comic Sans MS, cursive, sans-serif;">Ask a Missionary!</h1>
    <h4 style="text-align:center; font-family:Comic Sans MS, cursive, sans-serif;">You have questions. Our following of RMs have answers. Submit your question below:</h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("MissionFAQ", "Mission", new { missionKey = Model.mission.missionID }, FormMethod.Post, new { @class = "form-group", @style = "text-align:center" }))
            {
                @Html.TextBox("NewQuestion", "", new { type = "text", id = "NewQuestion", @class = "form-control input-lg bigWidth", placeholder = "Question", required = true, autofocus = true })
                <br />
                <button class="btn btn-primary btn-lg" type="submit">Post</button>
            }
        </div>
    </div>
</div>

<!--FAQs container for the frequently asked questions-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 style="text-align:center">Frequently Asked Questions</h2>
            <br />
            <h4>
                <dl>
                    @foreach (MissionSite.Models.MissionQuestions item in Model.missionQuestions)
                    {
                        <dt class="col-sm-9">@item.missionQuestion</dt>
                        <dd class="col-sm-3">@Html.ActionLink("View", "MissionFAQ", "Mission", new { Model.mission.missionID, item.missionQuestionID }, new { @class = "btn btn-default" })</dd>
                    }
               </dl>
            </h4>
        </div>
        <div class="col-md-6">
            <h2 style="text-align:center">Response Thread</h2>
            <br />
            @foreach (MissionSite.Models.MissionAnswers item in Model.missionAnswers)
            {
                <p><img src="../../Content/images/trackingline.jpg" class="comment" /><img src="../../Content/images/blankProfile.png" class="comment" /><a href="#" class="handler">&#64bigjoe</a> @item.answer</p>
                using (Html.BeginForm("MissionFAQ", "Mission", new { missionKey = Model.mission.missionID }, FormMethod.Post, new { @class = "form-group" }))
                {
                    <div class="container">
                        <div class="col-md-11">
                            @Html.TextBox("NewComment", "", new { type = "text", id = "NewComment", @class = "form-control", placeholder = "Comment here", required = true, autofocus = true })
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-default" type="submit">Post</button>
                        </div>
                    </div>
                }
            }
       </div>
    </div>
    <br />
    <br />
    <br />
</div>
